/* Import Allura font from Google Fonts */
/* @import url('https://fonts.googleapis.com/css2?family=Allura&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Allura&family=Courgette&family=Noto+Serif+KR&family=Nanum+Brush+Script&display=swa');

/* Dokdo, Gamja Flower */

html { scroll-behavior: smooth; }

/* Apply Allura font to headings and body */
body {
    font-optical-sizing: auto;
    font-weight: auto;
    font-style: normal;
    font-size: large;
}

.nav-item {
    /* font-family: Courgette; */
    font-size: large;
}

img {
    border-radius: 50px;
}

html[lang="ko"] h1 {
    font-family: Nanum  Brush Script;
}

span {
    font-size: large;
    font-weight: 900;
}

html[lang="ko"] h2, html[lang="ko"] h3, html[lang="ko"] h4, html[lang="ko"] h5, html[lang="ko"] h6 {
  font-family: "Noto Serif KR", serif;
  font-optical-sizing: auto;
  font-weight: auto;
  font-style: normal;
  font-size: xx-large;
}

html[lang="ko"] body, html[lang="ko"] li {
  font-family: "Noto Serif KR", serif;
  font-optical-sizing: auto;
  font-weight: auto;
  font-style: normal;
  font-size: x-large;
}

a {
    color: #594e4d;
    font-size: large;
}
